body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #000;
	color: #FFF;
}

.center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
}

.main-image {
	pointer-events: none;
}

#debug {
	text-align: center;
}

@media (max-width: 4000px) {
	.main-image, .center {
		width: 950px;
		color: #ff3d3d;
	}
}

@media (max-width: 1200px) {
	.main-image, .center {
		width: 950px;
		color: #f0bc2f;
	}
}

@media (max-width: 1000px) {
	.main-image, .center {
		width: 800px;
		color: #4be43d;
	}
}

@media (max-width: 800px) {
	.main-image, .center {
		width: 650px;
		color: #51cfe6;
	}
}

@media (max-width: 600px) {
	.main-image, .center {
		width: 450px;
		color: #864ae7;
	}
}

@media (max-width: 400px) {
	.main-image, .center {
		width: 370px;
		color: #f747d0;
	}
}
