body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #000;
	color: #FFF;
	font-family: 'Arial Black';
}

.center {
	position: absolute;
	left: 50%;
	height: 50%;
	transform: translate(-50%, 50%);
}

.main-image {
	pointer-events: none;
	user-select: none;
}

#debug {
	text-align: center;
}

.menu-container {
	margin-left: 50%;
	translate: -50%;
	scale: 1;
	width: 200px;
	height: 200px;
	/*border: 2px solid red;*/
}

.octagon {
	position: absolute;
	width: 80px;
	aspect-ratio: 1;
	--o:calc(50%*tan(-22.5deg));
	clip-path: polygon(
	  	var(--o) 50%,
	  	50% var(--o),
	  	calc(100% - var(--o)) 50%,
	  	50% calc(100% - var(--o))
	);
	background: #222222;
	transition: 1.5s;
}

.octagon:hover {
	background: #747474;
	transition: 0.5s;
}

.oct-one {
	margin-left: 60px;
}

.oct-two {
	margin-left: 120px;
	margin-top: 60px;
}

.oct-three {
	margin-left: 0px;
	margin-top: 60px;
}

.oct-four {
	margin-left: 60px;
	margin-top: 120px;
}

.oct-text {
	text-align: center;
	pointer-events: none;
	user-select: none;
	font-size: 14px;
	margin-top: 29px;
	color: #000;
}

@media (max-width: 4000px) {
	.main-image, .center {
		width: 950px;
		color: #ff3d3d;
	}
}

@media (max-width: 1200px) {
	.main-image, .center {
		width: 950px;
		color: #f0bc2f;
	}
}

@media (max-width: 1000px) {
	.main-image, .center {
		width: 800px;
		color: #4be43d;
	}
}

@media (max-width: 800px) {
	.main-image, .center {
		width: 650px;
		color: #51cfe6;
	}
}

@media (max-width: 600px) {
	.main-image, .center {
		width: 450px;
		color: #864ae7;
	}
}

@media (max-width: 400px) {
	.main-image, .center {
		width: 370px;
		color: #f747d0;
	}
}
